/* Google Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Caesar Dressing", cursive;
}

/* General Styles */

body {
    font-family: var(--primary-font);
    background-color:#DFD0B7;
}

h1, h2, h3 {
    font-family: var(--secondary-font);
}

footer {
    background-color: darkred;
    color: whitesmoke
}
/* Adds space between sections */
.section {
    padding-top: 2rem;
}

/* pushes Header to be visible beneath Navbar */
#header {
    padding-top: 6rem;
}

#events-list {
    padding-top: 6rem;
}

#success {
    padding-top: 6rem;
}

/* Navbar */

.navbar-brand {
    font-family: var(--secondary-font);
    font-size: xx-large;
}

/* Header */

#header p {
    font-size: large;
}

/* Carousel */

.carousel-item img {
    height: 20rem;
    width: 100%;
}

/* Events Page */

.card {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.card img {
    height: 12rem;
}

/* Contact form */

#contact-form button {
    margin-top: 1.5rem;
}

/* Footer Section */

#contact .social-links i {
    color: whitesmoke;
    font-size: 2rem
}

/* Media Queries for resizing */

/* Medium Devices (768px and up)*/
@media screen and (min-width: 768px) {
.carousel-item img {
    height:30rem;
} }

/* Large Devices (992px and up) */
@media screen and (min-width: 992px) {
.carousel-item img {
    height:35rem;
} }

/* XL Devices (1200px and up) */
@media screen and (min-width: 992px) {
.carousel-item img {
    height:40rem;
} }